{% extends 'base.html' %}

{% block content %}
  <h2>DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목 : {{ article.title }}</p>
  <p>내용 : {{ article.content }}</p>
  <p>작성시각 : {{ article.created_at }}</p>
  <p>수정시각 : {{ article.updated_at }}</p>
  <hr>
  <a href="{% url 'articles:update' article.pk %}" class="btn btn-primary">[UPDATE]</a>
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-danger">DELETE</button>
  </form>
  <a href="{% url 'articles:index' %}">[back]</a>
  <hr>
  <h4>댓글 목록</h4>
  {{ comments|length }} 개
  <!--django 템플릿에 사용하는 함수들은 소괄호 붙이면 안됨-->
  {{ article.comment_set.all|length }} 개
  {{ comments.count }} 개
  <ul>
  {% for comment in comments %}
    <li>
    {{ comment.content }}
    <!--댓글마다 삭제 버튼-->
    <form action="{% url 'articles:comments_delete' article.pk comment.pk %}" method="POST">
      {% csrf_token %}
      <input type="submit" value="DELETE">
    </form>
    </li>
  {% empty %} <!--댓글이 없다면-->
    <p>아직 댓글이 없네요ㅠ</p>
  {% endfor %}
  </ul>
  <hr>
  <!--댓글 생성-->
  <form action="{% url 'articles:comments_create' article.pk %}" method="POST">
    {% csrf_token %}
    <!--form.as_p 안한 이유는 그냥 한줄로 표현하려고-->
    {{ comment_form }}
    <input type="submit">
  </form>
{% endblock %}
