{% extends 'base.html' %}

{% block content %}
  <h1>CRUD with ModelForm</h1>
  <hr>
  <h2>DETAIL</h2>
  <hr>
  <h3>글 번호 : {{ article.pk }}</h3>
  <h3>글 제목 : {{ article.title }}</h3>
  <p>글 내용 : {{ article.content }}</p>
  <p>글 생성시각 : {{ article.created_at }}</p>
  <p>글 수정시각 : {{ article.updated_at }}</p>
  <a href="{% url 'articles:update' article.pk %}">EDIT</a>

  <!--a태그는 method라는 속성이 없기 때문에 POST인 메서드를 넣기위해 form태그로 만들어주자-->
  <!--'<int:pk>/delete/' 지금 경로가 이래도 'appname:urlname' args으로 작성해야 함-->
  <form action="{% url 'articles:delete' article.pk %}" method="POST">
    <!-- django가 post방식으로 데이터 받았을때, 토큰이 있을때만 글을 생성하도록하는 보안정책 -->
    <!-- 보통 form 태그의 바로 밑줄에 작성--> 
    {% csrf_token %}
    <!--form태그 실행되기위한 submit과 안에 내용 vaule필요-->
    <input type="submit" value='DELETE'>
  </form>

  <hr>
  <a href="{% url 'articles:index' %}">BACK</a>
{% endblock content %}